<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  Scirate is a social networking site for academic papers from
  <a href="http://arxiv.org">arXiv.org</a>.
  The list of papers from each day is displayed in order of the
  number of Scites, or votes, that each paper receives.
</p>
<p>
  To Scite papers or add comments, please create a user account from the sign-in page.
</p>
<p>
  This implementation of Scirate should be considered a beta:
  currently only <a href="http://arxiv.org/archive/quant-ph">quant-ph</a> is supported,
  but other categories will be added in the future.
</p>
<p>
  Scirate is the idea of <a href="http://dabacon.org/">Dave Bacon</a>,
  but the <a href="http://scirate.com/">original implementation </a> has been down
  for some time.
  This implementation of Scirate is due to <a href="http://intractable.ca/bill">Bill Rosgen</a>.
  To contribute, please consider visiting
  <a href="http://github.com/rosgen/scirate3">github.com/rosgen/scirate3</a>
  to view the source or to help with the implementation.
</p>
