<% provide(:title, 'About') %>

<div class="container" id="about">
  <h1>About</h1>
  <p>SciRate is a feed aggregator and social networking site for academic papers from <a href="http://arxiv.org">arXiv.org</a>. Users subscribe to the topics they are interested in, and papers from each day are displayed in order of how many Scites, or votes, they receive. This makes it easy to find papers which the community considers particularly interesting and significant.</p>

  <p>This implementation should be considered a beta. SciRate is free and open source software, built with <a href="http://rubyonrails.org">Rails</a>. Please visit <a href="http://github.com/draftable/scirate3">github.com/draftable/scirate3</a> to view the source or help out with development. We welcome contributors!</p>

  <p>The original idea for SciRate came from <a href="http://dabacon.org/">Dave Bacon</a>. It was then prototyped by <a href="http://intractable.ca/bill">Bill Rosgen</a> and <a href="http://www.mit.edu/~aram/">Aram Harrow</a>, and is currently being maintained and developed by <a href="https://draftable.com">Draftable</a>.</p>
</div>
