<% provide(:title, '') %>
<h1>Scirate</h1>
<p>
  This is the home page for the updated
  <a href="http://scirate.com/">Scirate</a>.
</p>

<%= link_to "Sign up now!", signup_path, class: "signup_button round" %>
