- @alert_classes = { error: 'danger', warning: 'warning', success: 'success' }

- flash.each do |key, val|
  - if [:error, :warning, :success].include?(key)
    - flash.delete(key)
    %div.alert{ class: "alert-#{@alert_classes[key]}" }
      %button.close{ type: "button", 'data-dismiss' => "alert" } &times;
      = val
