<span class="subscribe-toggle <%= subscribed ? 'active' : '' %>" data-feed-uid="<%= feed.uid %>" data-feed-fullname="<%= feed.fullname %>">
  <button class="unsubscribe btn btn-success">
    Subscribed
  </button>

  <button class="subscribe btn btn-default">
    <i class="fa fa-sign-in"></i>
    Subscribe
  </button>
</span>
