<span class="subscribe-toggle <%= subscribed ? 'active' : '' %>" data-feedid="<%= feed.id %>">
  <button class="unsubscribe btn btn-success">
    Subscribed
  </button>

  <button class="subscribe btn btn-default">
    <i class="icon-signin"></i>
    Subscribe
  </button>
</span>
