<span class="subscribe-toggle" data-feedid="<%= feed.id %>">
  <% if signed_in? %>
    <% if feed.subscriptions.exists?(user_id: current_user.id) %>
      <button class="unsubscribe btn btn-success">
        Subscribed
      </button>
    <% else %>
      <button class="subscribe btn">
        <i class="icon-signin"></i>
        Subscribe
      </button>
    <% end %>
  <% else %>
    <a href="<%= signin_path %>" class="subscribe btn">
      <i class="icon-signin"></i>
      Subscribe
    </a>
  <% end %>
</span>
