- provide(:title, 'Reset password')

.container
  %h1 Reset password
  = form_tag reset_password_path, method: :post do
    .field
      = label_tag :email
      = text_field_tag :email, params[:email]

    .actions
      = submit_tag "Reset password"
