version: '3.6'
services:
  db:
    image: postgres:9.5.24
    restart: always
    environment:
      - POSTGRES_USER=scirate
      - POSTGRES_PASSWORD=scirate

  search:
    image: elasticsearch:7.10.1
    restart: always
    environment:
      - discovery.seed_hosts=127.0.0.1,[::1]
      - node.name=es01
      - cluster.initial_master_nodes=es01
    ports:
      # We need to expose the port here for the GitHub CI so we can run a
      # healthcheck :/
      - 9200:9200

  web:
    build: .
    restart: always
    volumes:
      - .:/app
    ports:
      - 3000:3000
    depends_on:
      - db
      - search
