Hello <%= @contact_name %>,

Thanks for posting your job on SciRate. You will receive confirmation
that it has been posted shortly.

In the mean time, if you need to make any changes to your ad,
here is a link to <a href='<%= @url %>'>Edit your job</a>.

Thank You,
SciRate
