<p>Hello <%= @contact_name %>,</p>

<p>
Thanks for posting your job on SciRate. You will receive confirmation
that it has been posted shortly.
</p>

<p>
In the mean time, if you need to make any changes to your ad,
here is a link to <a href='<%= @url %>'>Edit your job</a>.
</p>

<p>
Thank You, <br />
SciRate Team
</p>
