<p>
  <strong>
    <% if defined? @user %>
      Comment on paper <%= link_to comment.paper.identifier, comment.paper %>
    <% elsif defined? @paper %>
      <%= link_to comment.user.name, comment.user %> commented
    <% end %>
    at  <%= comment.created_at.to_formatted_s(:short) %>
  </strong>
<br />
  <%= comment.content %>
</p>
