<div class="comment">
  <span class="label">
    <% if defined? @user %>
      Comment on paper <%= link_to comment.paper.identifier, comment.paper %>
    <% elsif defined? @paper %>
      <%= link_to comment.user.name, comment.user %> commented
    <% end %>
    at  <%= comment.created_at.to_formatted_s(:short) %>
  </span>
  <div class="body">
    <%= comment.content %>
  </div>
</div>
