<div class="scites-count">
  <button class="btn btn-default count"><%= paper.scites_count %></button>
  <% if paper.scites_count > 0 %>
    <div class="sciters-dropdown">
      <% paper.sciters.each do |user| %>
        <%= link_to user.fullname, user %>
      <% end %>
    </div>
  <% end %>
</div>
