<% if signed_in? %>
  <%= form_for(current_user.scites.build(paper_id: paper.id),
                         remote: true) do |f| %>
    <div><%= f.hidden_field :paper_id %></div>
    <%= f.submit "Scite!", class: 'btn scite' %>
    <%= render partial: 'scites/count', object: paper, as: :paper %>
  <% end %>
<% else %>
  <a href="/signin"><input class="btn scite" type="button" value="Scite" /></a>
<% end %>
