div.scite-toggle> data-paper-uid=(paper.uid)
  button.btn.unscite.btn-success title="Unscite this paper"
    | Scited

  button.btn.btn-default.scite title="Scite this paper if you find it interesting"
    | Scite!

  .scites-count
    a href=(paper_scites_path(paper)) title="Number of Scites"
      button.btn.btn-default.count= paper.scites_count
