<div class="scite-toggle <%= !@scited_papers.include?(paper) && 'inactive' %>" data-paper-id="<%= paper.id %>" >
  <% if signed_in? && @scited_papers.include?(paper) %>
    <button class="btn unscite btn-success">Scited</button>
    <%= render partial: 'scites/count', object: paper, as: :paper %>
  <% else %>
    <button class="btn scite">Scite!</button> 
    <%= render partial: 'scites/count', object: paper, as: :paper %>
  <% end %>
</div>
