<%= form_tag "/subscriptions", method: :put, remote: false do %>
  <% for feed in @feeds %>
    <div class="subscription_checkbox">
      <%= check_box_tag "feed_ids[]", feed.id, @subscriptions.include?(feed.id), id: feed.uid %>
      <%= label_tag feed.id, feed.uid %>
    </div>
    <% end %>
    <div class="submit_button">
      <%= submit_tag "Submit", :class => "btn btn-large btn-primary" %>
    </div>
<% end %>
