<% provide :title, "Scites for #{@user.name}" %>
<table class="profile">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>'s scited papers
      </h1>
      <%= render 'scited_papers' %>
    </td>
    <%= render 'sidebar' %>
  </tr>
</table>
