<% provide :title, "Subscriptions for #{@user.name}" %>

<div class="user-subscriptions">
  <h1>
    Subscribed Feeds
  </h1>

  <ul>
  <% @user.subscriptions.each do |sub| %>
    <li class="subscription">
      <div class="feedlink">
        <%= link_to sub.feed.name, sub.feed %>
      </div>
      <%= render 'feeds/subscribe', :feed => sub.feed %>
    </li>
  <% end %>
  </ul>
</div>
