<% if  (current_user && current_user.expand_abstracts?) ||
        (((@paper && @paper.scites_count) || paper.scites.size ) > 0) %>
  <div class = "abstract">
    <%= paper.abstract %>
  </div>
<% end %>
