<li class="paper tex2jax">
  <div class="row-fluid">
    <div class="span10">
      <%= render 'papers/paper_title', paper: paper %>
    </div>
    <div class="span2">
      <%= render 'scites/toggle', paper: paper %>
    </div>
  </div>
  <div class="<%= "abstract_#{paper.id}" %>">
    <%= render partial: 'papers/abstract', object: paper, as: :paper %>
  </div>
</li>
