<li class="paper tex2jax">
   <%= render 'papers/paper_title', paper: paper %>
   <div class="<%= "abstract_#{paper.id}" %>">
     <%= render partial: 'papers/abstract', object: paper, as: :paper %>
   </div>
   <div style="clear: both;"></div>
</li>
