<div id="scite_form">
  <% if (defined?(@scited_papers) && @scited_papers.include?(paper)) || current_user.scited_papers.include?(paper) %>
    <%= render partial: 'papers/unscite', object: paper, as: :paper %>
  <% else %>
    <%= render partial: 'papers/scite', object: paper, as: :paper %>
  <% end %>
</div>
