<%= form_tag "/scites", method: :delete, remote: true do %>
  <div>
    <%= hidden_field_tag :paper_id, paper.id %>
  </div>
  <%= submit_tag "Unscite", :class => "btn btn-large btn-primary" %>
<% end %>
