// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.abbr_comment
{
        word-wrap: break-word;
        overflow: hidden;
}

.votes {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

.upvote, .downvote {
  width: 16px;
  height: 16px;
}

.upvote {
  background-image: url('/assets/upvote.png');
}

.downvote {
  background-image: url('/assets/downvote.png');
}
