// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment_form, #comment_editor {
  textarea, .wmd-preview {
    max-width: 600px;
    max-height: 200px;
    width: 100%;
  }

}


div.abbr_comment
{
        word-wrap: break-word;
        overflow: hidden;
}

.comment {
  .votes {
    float: left;
    margin-right: 5px;
  }

  .nonvotes {
    float: left;
  }

  .upvote, .downvote {
    width: 16px;
    height: 16px;
    opacity: 0.5;
  }

  .upvote.active {
    color: green;
  }

  .downvote.active {
    color: red;
  }

  .actions a {
    cursor: pointer;
    opacity: 0.8;
  }

  textarea {
    display: block;
  }
}
