$full-width: 95%;

$accent-color: #aaf;
$link-color: #22c;
$visited-link-color: #55c;

// Overall

html {
  overflow-y: scroll; // Force scrollbar presence
}

body {
  font: 81.25%/1.385 arial,sans-serif;
}

// Main header

header.first {
  width: 100%;

  height: 60px;
  line-height: 60px;

  background: #202226;
  color: white;

  .scirate-logo {
    img {
      position: relative;
      top: -8px;
      width: 36px;
      margin-right: 5px;
    }

    a {
      font-size: 32px;
      color: white;
    }

    a:hover {
      text-decoration: none;
    }
  }

  nav {
    float: right;

    li {
      float: left;
      list-style: none;
    }

    li a {
      display: block;
      padding: 0 21px;

      line-height: 60px;
      color: white;
      font-size: 1.4em;
      font-weight: 400;
    }

    li a:hover {
      background: #ddeffe;
      text-decoration: none;
      color: black;
    }

    .searchbox {
      float: left;
      margin-left: 20px;
      margin-bottom: 0;
      input { border-radius: 10px; }
    }
  }
}

header.second {
  height: 10px;
  line-height: 40px;

  clear: both;
  background: #1e95f9;
  color: white;
  font-size: 1.2em;
}

// Individual paper page

.paper {
  h1.title {
    margin-top: 20px;
    font: 30px 'FS Albert Web Regular',Verdana,sans-serif;
    margin-bottom: 4px;
  }

  ul.authors {
    margin: 0;
    margin-bottom: 2px;

    li { 
      list-style: none; 
      display: inline-block; 
      padding-right: 3px;

      font-size: medium;
    }
  }

  div.abstract {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.paper-sidebar {
  .scite-toggle {
    position: relative;

    .scite, .unscite, .count {
      border-top: 0;
      height: 40px;
    }

    .scite, .unscite { 
      width: 102px; 
    }
    .count {
      position: relative;
      left: -5px;
    }
    .scite { color: inherit; }
    .unscite { color: white; }
  }
}

// Paper page commenting interface

div.comments {
  margin-top: 20px;

  div.comment {
    padding: 0.5em;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  div.comment:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  div.comment.reply {
    padding-left: 1.8em;
  }
}

#comment_form, #comment_editor {
  textarea, .wmd-preview {
    max-width: 600px;
    width: 100%;
  }

  textarea {
    max-height: 200px;
  }

  .wmd-preview {
    margin-bottom: 10px;
  }
}

div.abbr_comment
{
        word-wrap: break-word;
        overflow: hidden;
}

.comment {
  .votes {
    float: left;
    margin-right: 5px;
  }

  .nonvotes {
    float: left;
  }

  .upvote, .downvote {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    cursor: pointer;
  }

  .upvote.active {
    color: green;
  }

  .downvote.active {
    color: red;
  }

  .actions a {
    cursor: pointer;
    opacity: 0.8;
  }

  textarea {
    display: block;
  }
}

.paper-index {
  margin-top: 20px;
}

// Paper index sidebar

ul.tree-sidebar {
  .my-feeds {
    .tree-toggler {
      font-size: 1em;
    }

    margin-bottom: 10px;
  }

  .source-heading {
    font-size: 150%;
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa;
  }

  .tree-toggler {
    font-size: 0.7em;
    margin-bottom: 0;
  }

  .leaf {
    font-size: 0.8em;
  }
}

// Recent comments sidebar

div.recent-comments
{
  width: 100%;
  padding: 1em;
  background-color: $scite-color;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
