$full-width: 95%;

$accent-color: #aaf;
$link-color: #22c;
$visited-link-color: #55c;

// Overall

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll; // Force scrollbar presence
}

body {
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

textarea {
  resize: none;
}

.admin {
  color: orange !important;
}

.moderator {
  color: #1e95f9 !important;
}

// Needed for jquery.timeago oddness
abbr.timeago {
  cursor: text;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: none;
}

// Except when it is in a link
a.timeago-link abbr.timeago {
  cursor: inherit;
}

a.timeago-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.username { font-weight: bold; }
.hidden { display: none !important; }
.transparent { opacity: 0.0 !important; }
.right { float: right; }
.left { float: left; }
.pseudolink {
  cursor: pointer;
}

.table-form {
  > tbody > tr > td {
    vertical-align: middle;
    label {
      font-weight: normal;
      margin-bottom: 0;
    }
  }
}

.dropdown-menu {
  margin-top: 0;
}

a:link, a:visited {
  color: #3c63af;
}

a.js {
  cursor: pointer;
}

a.js:hover {
  text-decoration: none;
}

.abspdf {
  color: #999 !important;
  border-radius: 2px;
  padding: 2px 11px;
  font-size: 12px;
}

.abspdf:hover {
  color: #3c63af !important;
  text-decoration: none;
}

.btn-primary {
  background: #398bce;
}

.btn-primary:hover {
  background: #2d6ea3;
}

.btn-success {
  background: #7dc36b;
}

.btn-success:hover {
  background: #5eb348;
}

.btn-google {
  background-color: #ef6666;
  border: 1px solid #e34242;
  color: white !important;
  position: relative;

  i {
    position: absolute;
    left: 0;
    top: 0;

    width: 36px;
    height: 41px;
    background: image-url("icon-gplus.png") no-repeat;
    background-color: rgba(255, 255, 255, 0.07);
  }

  span {
    display: inline-block;
    margin-left: 34px;
    margin-top: -3px;
  }
}

// Slightly faded description text

.description {
  color: rgba(0, 0, 0, 0.65);
}

// Buttons that can squish onto the right side of form elements
// e.g. google-style search thingy
// Requires an enclosing element to be position: relative;

.btn-right {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px 4px 4px 0px;
}

// Non-giant blockquotes (mainly comments)

blockquote {
  font-size: inherit;
}

// Flatter form elements

.form-control {
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
}

.form-control:focus {
  @include box-shadow(none);
}

// Typeahead suggestions

.twitter-typeahead {
  width: 100%;
}

.tt-suggestions {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

// Main header

header.navbar {
  width: 100%;
  z-index: 2;

  border-radius: 0;
  border-bottom: 6px solid #1e95f9;
  padding-bottom: 50px; // ???

  .container {
    margin-bottom: 6px;
  }

  background: #202226;
  color: white;

  max-height: 50px;

  margin-bottom: 0;

  .header-brand:hover {
    text-decoration: none;
  }

  .staging {
    color: #CDFECD;
    font-size: 14px;
    position: relative;
    top: -8px;
  }

  .nav li > a {
    display: block;
    padding: 0 21px;

    line-height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }

  .nav li > a:hover {
    background: #ddeffe;
    text-decoration: none;
    color: black;
  }

  .nav li.dropdown a {
    text-decoration: none;
  }

  .nav li.dropdown .caret {
    position: relative;
    top: -4px;
    vertical-align: middle;
    border-top: 4px solid white;
  }

  .nav li.dropdown a:hover .caret {
    border-top: 4px solid black;
  }

  .nav ul.dropdown-menu li {
    float: none;
    a {
      color: black;
      text-align: center;
    }
  }

  .searchbox {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  header.navbar {
    .searchbox {
      background: #202226 !important;
    }

    .nav > li {
      background: #202226;
    }

    .searchbox {
      background: #fff;
      margin: 0px;
    }

    .navbar-collapse {
      padding: 0;
    }

    .navbar-form, .navbar-nav {
      margin: 0;
    }
  }
}

a.header-brand {
  font-size: 28px;
  padding: 0;
  color: white;
  line-height: 50px;

  display: block;
  float: left;

  img {
    position: relative;
    top: -3px;
    width: 32px;
  }
}

.site-footer:after {
  clear: both;
}

.site-footer:before, .site-footer:after {
  content: " ";
  display: table;
}

.site-footer {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
  width: 100%;

  ul {
    margin: 0;
    float: left;
    list-style: none;
  }

  li {
    display: inline-block;
    line-height: 16px;
  }

  .footer-links li+li {
    margin-left: 10px;
  }

  .pull-right {
    img {
      position: relative;
      top: -1px;
      height: 22px;
    }
  }
}

// Welcome banner displayed on all pages
// Until user confirms their email address
.welcome-banner {
  padding: 8px 35px 8px 14px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  line-height: 35px;
  margin: 10px 0;

  .btn {
    position: relative;
    top: -1px;
  }
}

// Individual paper page

div.paper {
  padding-top: 20px;

  .title-row {
    h1 {
      margin-top: 0;
      margin-bottom: 4px;
      font-size: 28px;
    }

    .col-md-3 {
      text-align: right;
    }

    .scite-toggle {
      display: inline-block;
      line-height: 40px;
    }
  }

  ul.authors {
    padding-left: 0;
    margin-bottom: 2px;
  }

  ul.authors li {
    list-style: none;
    display: inline-block;
    padding-right: 3px;

    font-size: medium;
  }

  div.abstract {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div.scites {
    margin-top: 10px;
  }
}

.paper-scites h1 {
  font-size: 28px;
}

// Paper page commenting interface

div.comments {
  margin-top: 20px;

  div.comment {
    padding: 0.5em;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  div.comment:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  div.comment.reply {
    padding-left: 1.8em;
  }
}

#error_explanation {
  margin-top: 10px;

  ul {
    padding: 0px 10px;
  }
}

.warning {
  color: rgb(255, 56, 56);
}

#commentReply {
  margin-top: 10px;
}

#commentForm, #commentEditor, #commentReply {
  #wmd-button-bar {
    margin: 5px 0;
  }

  textarea, .wmd-preview {
    max-width: 600px;
    width: 100%;
  }

  textarea {
    max-height: 200px;
  }

  .wmd-preview {
    margin-bottom: 0;
  }

  .btn.leave-comment {
    margin-top: 10px;
  }
}

div.abbr_comment {
  word-wrap: break-word;
  overflow: hidden;
}

.comment {
  .votes {
    float: left;
    margin-right: 10px;
  }

  .nonvotes {
    overflow: hidden;
  }

  .upvote {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    cursor: pointer;
  }

  .upvote.active {
    color: green;
  }

  .actions a {
    cursor: pointer;
    opacity: 0.8;
    margin-right: 8px;
  }

  .actions .moderate a {
    margin-right: 0;
  }

  textarea {
    display: block;
  }
}

#commentHistory .event {
  margin-bottom: 20px;

  .well {
    margin-bottom: 0;
  }
}

// Feed listing sidebar

.feedbar {
  .my-feeds {
    margin-bottom: 10px;
    label {
      display: block;
    }
  }

  // Feed folders and headings

  li.feed-folder .nav-header {
    margin-bottom: 0;
    font-weight: normal;
    text-transform: none;
    display: block;
    clear: both;
    padding-bottom: 5px;

    i {
      line-height: 1.5em;
      float: left;
      cursor: pointer;
      padding-right: 3px;
    }

    a {
      line-height: 1.4em;
      display: block;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  li.feed-folder.active label {
    font-weight: bold;
  }

  .source-heading {
    font-size: 1.5em;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #aaa;
  }

  // The individual non-aggregated feeds

  .leaf {
    font-size: 0.8em;
    line-height: 1.4em;
    padding-left: 5px;
  }

  .leaf a {
    padding: 3px 15px;
  }

  .leaf.active a {
    background-color: inherit;
    text-shadow: none;
    font-weight: bold;
    color: #3c63af;
  }

  .leaf a:hover {
    text-decoration: underline;
  }
}

// Feed header

.feed-header {
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.4em;
  }

  padding-bottom: 30px;
  margin-bottom: 10px;

  // Abstract toggle appears on hover
  //.abstract-toggle {
  //  display: none;
  //}

  .subscribe-toggle {
    line-height: 40px;
  }

  .view-subs {

  }
}

.feed-header.home {
  padding-bottom: 0px;

  .view-subs {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.subscribe-toggle:not(.active) {
  .unsubscribe {
    display: none;
  }
}

.subscribe-toggle.active {
  .subscribe {
    display: none;
  }
}

.feed-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .abstract-toggle {
    display: inline !important;
  }
}

.feed-uid {
  color: rgba(0, 0, 0, 0.5);
}

// Feed paper listing

#feed-page {
  overflow: hidden;
}

.feedbar {
  padding-top: 20px;
}

.feed-center {
  padding-top: 20px;
  background: white;
  height: 100%;

  h2 {
    color: #A3A3A2;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 1em;
  }
}

ul.papers {
  margin-left: 0;
  padding-left: 0;
}

li.paper {
  list-style-type: none;
  padding: 10px 0;

  .title {
    font-weight: bold;
    font-size: 1.2em;

    a {
      color: #333;
    }

    a:hover {
      color: #3c63af;
      text-decoration: none;
    }
  }

  .uid, .crosslist {
    a {
      color: #717F9B;
    }
  }

  .scites-count:hover {
    .sciters-dropdown {
      display: block;
    }
  }

  .pull-right {
    text-align: center;
    font-size: 12px;
    min-height: 72px;
  }
}

.bibtex {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.bibtex > a {
}

.bibtex .card {
  position: absolute;
  width: 300px;
  right: 0px;
  top: 34px;
  z-index: 1;
}

.bibtex .card textarea {
  width: 100%;
  height: 150px;
  background: #eee;
}

.bibtex .card button {
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

li.paper:hover {
  .abs-toggle {
    display: inline !important;
  }

  .links {
    display: block !important;
  }
}

// Feed right-hand sidebar

div.feed-rightbar {
  .abbr-comment {
    font-size: 0.8em;
    margin-bottom: 10px;
  }

  .abbr-comment blockquote {
    margin-bottom: 0;
  }

  .abstract-toggle {
    width: 100%;
    margin-top: 10px;
  }

  .timenav h3 {
    text-align: center;
  }

  .timenav p {
    text-align: center;
  }

  .timenav table td {
    border-left: 0 !important;
  }

  .timenav table td:first-child {
    border-left: 1px solid #ccc !important;
  }

  .timenav table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    table-layout: fixed;

    td {
      width: 20%;

      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 0;
        text-decoration: none;
        color: inherit;
      }

      font-size: 13px;
      cursor: pointer;

      &.half {
        width: 50%;
      }

      border: 1px solid #ccc;
      border-top: none;

      &.top {
        border-top: 1px solid #ccc;
        &.left {
          border-top-left-radius: 5px;
        }

        &.right {
          border-top-right-radius: 5px;
        }
      }

      &.bottom {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &.underline {
        border: none;
        background-color: #1e95f9;
        height: 5px;
      }
    }
  }
}

// Scites

.scite-toggle:not(.active) {
  .unscite {
    display: none;
  }
}

.scite-toggle.active {
  .scite {
    display: none;
  }
}

.scite-toggle {
  white-space: nowrap;
  display: inline-block;

  .scite, .unscite {
    @include border-right-radius(0);
    float: left;
  }

  .scites-count {
    .btn {
      @include border-left-radius(0);
      border-left: 0;
      float: left;
    }

    position: relative;
    display: inline-block;

    .sciters-dropdown {
      display: none;
      position: absolute;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      background: #f5f5f5;
      width: 100px;
    }
  }
}

.paper-download.btn {
  vertical-align: top;
  color: white;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 6px;
  padding-right: 6px;
  border: none;
  font-size: 12px;
}

.html {
    margin-left: 3px;
    margin-right: 3px;
}



// User profile page

#profilePage {
  margin-top: 20px;

  .nav-tabs {
    margin-bottom: 20px;
  }

  .nav-tabs a {
    color: #666;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .nav-tabs .pull-right .btn {
    margin-top: 2px;
    padding: 4px 8px;
  }

  .nav-tabs .pull-right .btn i {
    padding-right: 3px;
  }

  .nav-tabs .pull-right .btn-danger {
    margin-right: 5px;
    color: white;
  }

  #profileImage a {
    display: inline-block;
    position: relative;
    height: 230px;
  }

  #profileImage:hover .overlay {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #profileImage:hover .overlay .darken {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
    border-radius: 6px;
  }

  #profileImage i {
    display: none;
  }

  #profileImage:hover i {
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 70px;
    text-align: center;
  }

  #profileImage img {
    border-radius: 6px;
  }

  #profileImage:hover img {
    position: relative;
    z-index: -2;
  }

  #details h1 {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  #details .fullname {
    display: block;
  }

  #details .username {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #666;
  }

  #details ul {
    padding-left: 0;
  }

  #details .user-info li {
    padding-left: 24px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  #details .user-info li i {
    float: left;
    margin-left: -24px;
    position: relative;
    top: 3px;
  }

  ul.user-info {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  ul.user-info li {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  ul.user-info i {
    display: inline-block;
    margin-right: 5px;
    color: #ccc;
  }

  ul.subscriptions li {
    margin-right: 3px;
    background-color: #eee;
  }
}

#activityTab {
  .event {
    border-top: 1px solid #f1f1f1;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .event abbr.timeago {
    font-size: 12px;
    color: #bbb;
  }

  .event:first-child {
    border-top: 0;
  }

  .icon {
    width: 5%;
  }

  .event > .icon i {
    font-size: 24px;
    width: 24px;
    text-align: center;
    color: #bbb;
    padding-top: 10px;
    padding-left: 2px;
  }

  .well {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .comment p:last-child {
    margin-bottom: 0;
  }

  .authorship .icon i {
    color: gold;
  }

  .authorship .well {
    -webkit-box-shadow: 0px 0px 5px 1px gold;
    -moz-box-shadow:    0px 0px 5px 1px gold;
    box-shadow:         0px 0px 5px 1px gold;
  }

  .authorship .title {
    font-size: 22px;
  }
}

#papersTab, #scitesTab {
  .paper:first-child {
    padding-top: 0;
  }
}

// Settings pages

#settingsPage .gravatar {
  margin-top: 10px;
}

p.google {
  margin-top: 10px;
  line-height: 32px;
  padding-left: 32px;
  position: relative;

  i {
    position: absolute;
    left: 0;
    vertical-align: middle;
    font-size: 32px;
    color: #d73d32;
  }
}

// Search stuff

.inline-search {
  position: relative;
}

#searchPage {
  .form-group {
    position: relative;
  }

  .btn-right {
    width: 60px;
  }

  #datepicker .modal-content {
  }
}

#advancedSearch {
  td:first-child {
    width: 300px;
  }
}

#advancedPreview {
  margin-top: 5px;
  padding: 10px;
  line-height: 30px;
  min-height: 52px;
}

// About page

#about {
  font-size: 15px;
  line-height: 1.7;

  p {
    max-width: 750px;
  }
}

// Table for displaying a list of users

.usertable {
  > tbody > tr > td {
    vertical-align: middle;
  }

  .gravatar {
    width: 50px;
    height: 50px;
  }
}

// Subscriptions page

#subscriptions {
  .feed-card {
    display: inline-block;
    width: 550px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 34px;
    font-size: 14px;
  }

  .btn {
    padding: 3px 6px;
  }
}
