/* Paper index page */

ul.papers {
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0;
    list-style-type: none;

    li {
        list-style-type: none;
        padding-bottom: 1em;
        padding-top: 1em;

        div.scite {
            width: 85px;
            float: left;
            padding: 0.25em;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0.5em;
            margin-left: 0.5em;
            background-color: $scite-color;
            -moz-border-radius:    10px;
            -webkit-border-radius: 10px;
            border-radius:         10px;
        }

        div.title {
            width: 80%;
            text-align: left;
            margin-left: 1em;
	        padding-left: 6em;

            span.identifier {
                color: #777
            }

            span.title {
                font-weight: bold;
            }

	    span.links {
	    	font-weight: bold;
	    }
        }

        div.abstract {
            text-align: justify;
            padding: 0.5em;
        }
    }
}

.feedbar {
  a { display: block; }
}

.sidebar {
  position: relative;
  top: 0;
  left:auto;
  width: 220px; /* width of sidebar */
}

/* Paper show page */

span.label {
    font-weight: bold;
}

div.paper {
    h1 {
      margin-bottom: 0;
    }

    .authors, .identifier {
      font-size: 110%;
    }

    div.abstract {
        text-align: justify;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    div.dates {
        padding-bottom: 1em;
    }

    div.scites {
        padding-bottom: 1em;
    }
}


