/* User pages */

table.profile {
    width: 100%;
    margin-bottom: 0;

    img.gravatar {
        border: 1px solid #999;
        margin-bottom: -15px;
    }
}

td.main {
    width: 70%;
    padding: 1em;
}

td.sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #ffc;
}

div.subscription_checkbox {
    width: 15em;
    float: left;
}

div.submit_button {
    padding-top: 1em;
    clear: both;
}