<div class="site-footer">
  <ul class="footer-links">
    <li><a href="/about">About</a></li>
    <li><a href="/conduct">Code of Conduct</a></li>
    <li><a href="/legal">Legal</a></li>
    <% if Settings::JOBS_VISIBLE %>
      <li><a href="/jobs">Browse Open Positions</a></li>
      <li><a href="/jobs/submit">Submit a Job</a></li>
      <li><a href="/jobs/about">About Jobs</a></li>
    <% end %>
  </ul>

  <ul class="pull-right">
    <li>
      Supported by <a href="https://braneshop.com.au/?sr"
      title="Braneshop"><img title="Braneshop" alt="Braneshop"
      src="/braneshop.svg" /> Braneshop</a>, and
     <a href="https://www.nsf.gov">the US National Science Foundation</a>.
    </li>
  </ul>
</div>
