<div class="site-footer">
  <ul class="footer-links">
    <li><a href="https://scirate.github.io/">Blog</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/conduct">Code of Conduct</a></li>
    <li><a href="/legal">Legal</a></li>
  </ul>

  <ul class="pull-right">
    <li>
      Supported by <a href="http://silverpond.com.au">Silverpond</a>.
    </li>
  </ul>
</div>
